body {
  background-color: #fffaf0;
  color: #333333;
  font-family: sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

header,
main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: #3366cc;
}

h1,
h2 {
  color: #4a3520;
}
